.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(2, 226, 189);
    border-color: rgb(2, 226, 189) transparent rgb(2, 226, 189) transparent;
    animation: spinner 1.2s linear infinite;
    box-shadow: 0px 0px 10px rgb(2, 226, 189);

}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}