.button {
    cursor: pointer;
    padding: 15px 25px;
    background-color: rgb(245, 10, 120);
    box-shadow: 0px 0px 10px rgb(245, 10, 120);
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 30px;
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}

.button:hover {
    transform: translateY(7px);
}