.number {
    font-size: 5rem;
    padding-right: 15px;
    color: rgb(204, 5, 128);
    text-shadow: 0px 0px 4px rgb(204, 5, 128);
}

.title {
    font-size: 3rem;
    color: rgb(2, 226, 189);
    font-weight: 700;
    text-shadow: 0px 0px 3px rgb(2, 226, 189);
    margin-bottom: 10px;

}

.link {
    text-decoration: none;
}

.rate-wrapper {
    font-size: 3rem;
    color: gold;
    text-shadow: 0px 0px 5px gold;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
}

.card:hover {
    background-color: rgb(21, 18, 58);
}

.nickname {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.date {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(4, 108, 228);
    text-shadow: 0px 0px 3px rgb(4, 108, 228);
}

.nickname span {
    color: rgb(138, 138, 138);
    font-weight: 700;
    cursor: pointer;
}